<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-light fw-bold" href="/">Gestão Financeira Pessoal</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav ml-auto">
      <a class="nav-link text-light fw-bold" href="/compras">Cadastrar compras</a>
      <a class="nav-link text-light fw-bold" href="/entrada">Entrada de valor</a>
      <a class="nav-link text-light fw-bold" href="/saldo">Saldo pessoal</a>
    </ul>
    </div>
  </div>
</nav>