<%- include  ('partials/header.ejs') %>
<%- include  ('partials/navbar.ejs') %>
<div class="container">
    <div class="card mt-4">
        <div class="card-header">
            <h2>Gestão Financeira</h2>
        </div>
        <div class="card-body">
            <h3 class="fw-bold">Sobre:</h3>
            <p class="fw-bold">Nascido em Timon-MA, sou acadêmico formado pelo Instituto Federal do Piauí, onde também fiz meu ensino médio, no curso técnico de Informática, e foi lá onde aos meus 14 anos de idade eu tive meu primeiro contato com a programação com a linguagem Python, terminei o curso técnico e o ensino médio com 17 anos e ainda aos 17 iniciei meu Bacharelado em Ciência da computação na Estácio Teresina, onde hoje eu estudo. Trabalhei na empresa R Carvalho entre 2020 e 2022 como Jovem Aprendiz, e foi lá que pude pôr em prática todos os meus conhecimentos na área da programação com a linguagem Javascrpit, utilizando NodeJS e Bootstrap. Também trabalhei como Freelancer para pequenos negócios desenvolvendo sistemas de controles internos.</p>
        </div>
        <hr>
        <p class="text-center fw-bold">Links para minhas páginas profissionais</p>
        <ul class="list-group">
            <li class="list-group-item"><a href="https://github.com/HerlintonFilho" class="btn btn-dark">Github</a></li>
            <li class="list-group-item"><a href="https://www.linkedin.com/in/herlinton-filho-623974238/" class="btn btn-primary">Linkedin</a></li>
          </ul>
</div>
<%- include  ('partials/footer.ejs') %>